<div class="row show-grid">
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        Change Password
      </nb-card-header>
      <nb-card-body>

        <form #form="ngForm" autocomplete="off">

          <div class="form-group">
            <label for="input-oldPassword">Old Password</label>
            <input name="oldPassword" [(ngModel)]="data.oldPassword" id="input-oldPassword"
                   class="form-control" placeholder="Old Password" #oldPassword="ngModel"
                   type="password"
                   [class.form-control-danger]="oldPassword.invalid && oldPassword.touched" autofocus
                   [required]="true">
            <small class="form-text error"
                   *ngIf="oldPassword.invalid && oldPassword.touched && oldPassword.errors?.required">
              Old Password is required!
            </small>
          </div>


          <div class="form-group">
            <label for="input-newPassword">New Password</label>
            <input name="newPassword" [(ngModel)]="data.newPassword" id="input-newPassword"
                   class="form-control" placeholder="New Password" #newPassword="ngModel"
                   type="password"
                   [class.form-control-danger]="newPassword.invalid && newPassword.touched" autofocus
                   [required]="true">
            <small class="form-text error"
                   *ngIf="newPassword.invalid && newPassword.touched && newPassword.errors?.required">
              New Password is required!
            </small>
          </div>


          <div class="form-group">
            <label for="input-confirmPassword">Confirm Password</label>
            <input name="confirmPassword" [(ngModel)]="data.confirmPassword" id="input-confirmPassword"
                   class="form-control" placeholder="Confirm Password" #confirmPassword="ngModel"
                   type="password"
                   [class.form-control-danger]="confirmPassword.invalid && confirmPassword.touched" autofocus
                   [required]="true">
            <small class="form-text error"
                   *ngIf="confirmPassword.invalid && confirmPassword.touched && confirmPassword.errors?.required">
              Confirm Password is required!
            </small>
          </div>

        </form>


      </nb-card-body>
      <nb-card-footer>
        <button class="btn btn-md btn-primary" [disabled]="loading || !form.valid" (click)="changePassword()">Save
          changes
        </button>
      </nb-card-footer>
    </nb-card>


  </div>
</div>
